%% Setup notes:
%%
%% Run the following queries in an aql session:
%% CREATE @AW TABLE Artist (Name VARCHAR PRIMARY KEY);
%% CREATE @AW TABLE Album (Name VARCHAR PRIMARY KEY, Artist VARCHAR FOREIGN KEY @FR REFERENCES Artist(Name));
%% CREATE @AW TABLE Track (Name VARCHAR PRIMARY KEY, Track VARCHAR FOREIGN KEY @FR REFERENCES Album(Name));

{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_antidote_aql}.

{key_generator, {uniform_int, 50000}}.

{value_generator, {fixed_bin, 100}}.

{aql_actors, [{a, 'aqldev@127.0.0.1'}]}.
%{aql_actors, [{a, 'aql1@127.0.0.1'},
%              {b, 'aql2@127.0.0.1'},
%              {c, 'aql3@127.0.0.1'}]}.


{operations, [{put, 1},{get, 1},{delete, 1}]}.

{code_paths, ["./deps/cqerl/ebin", "./deps/pooler/ebin",  "./deps/uuid/ebin",
  "./deps/semver/ebin"]}.